*
{
	box-sizing : inherit;
	margin     : 0;
	padding    : 0;
	}

body
{
	font-family: 'Roboto Light', SansSerif;
	font-size: 85.8%;
	background: white;
	color: black;
	text-shadow: 1px 2px 2px rgba(0,0,0,20%);
	}

html
{
	font-family : "Roboto Light", sans-serif;
	font-size   : 65.8%;
	}

.main__bg
{
	height              : 100vh;
	text-align          : center;
	background-image    : url("../img/theater-image-background.png");
	background-position : top;
	backface-visibility : hidden;
	}
.nav_bar
{
	display        : flex;
	align-content  : center;
	flex-direction : row;
	}

/*brand name from top left side*/
.logo_link
{
	font-weight         : 500;
	position            : absolute;
	display: flex;
	height              : auto;
	margin-top          : 3vh;
	margin-left         : 3%;
	text-align          : left;
	text-decoration     : none;
	color               : white;
	border              : none;
	backface-visibility : hidden;
	}

/* top menu */
.nav__links
{
	position        : relative;
	left            : 30%;
	display         : flex;
	align-content   : center;
	justify-content: center;
	align-items     : center;
	width           : 50rem;
	text-align      : center;
	text-decoration : none;
	/*transform: translateY(50%);*/
	}

/*links from the nav bar*/
.a__menu, li
{
	font-size       : 2.1rem;
	position        : relative;
	display         : inline-flex;
	align-content   : center;
	flex-direction  : row;
	justify-content : center;
	width           : 100%;
	margin-top      : 3vh;
	list-style-type : none;
	text-decoration : none;
	color           : white;
	}

.featured_logo
{
	font-family     : "Roboto Light", serif;
	font-size       : 8rem;
	font-weight     : lighter;
	position        : relative;
	display         : flex;
	align-content   : center;
	align-items     : center;
	flex-direction  : column;
	justify-content : center;
	width           : 100%;
	height          : 92vh;
	transform       : translateY(-5%);
	text-align      : center;
	color           : white;
	text-space      : 2.5rem;
	}

/*this is the second secion from index */
.article
{
	font-size      : 5rem;
	display        : flex;
	flex-direction : row;
	height         : 110vh;
	text-align     : center;
	}
.hr{
	margin-top: 3%;
	margin-bottom: 1%;
	}
/*Article*/
.article__sub
{
	width : 25%;
	}

.article__tag
{
	width : 50%;
	}

/*tag from the second page*/
.me__subtag
{
	font-size        : 2rem;
	font-weight      : 200;
	display          : flex;
	align-items      : start;
	flex-direction   : column;
	width            : 100%;
	height           : 3vh;
	margin-top       : 4vh;
	margin-bottom    : 3vh;
	padding-left     : 5%;
	border           : rgba(28, 28, 28, 0.5) solid .1rem;
	background-color : rgba(28, 28, 28, 0.1);
	}

.article__container
{
	font-size  : 1.8rem;
	display    : flex;
	flex-direction: row;
	width      :100%;
	height     : 20vh;
	}

.image_left{
	position: relative;
	width: 15vw;
	height: 20vh;
	}
.img
{
	width: 100%;
	height: 100%;
	}
i{
	font-weight: 500;
	}

.text__article{
	text-align: left;
	padding-left: 5%;
	}

/*button*/
.button__article
{
	width         : 15%;
	margin-top    : auto;
	margin-bottom : auto;
	margin-left: auto;
	justify-content: center;
	}

button
{
	font-family      : "Roboto Light", serif;
	font-size        : 2.0rem;
	padding          : 1rem;
	color            : white;
	border           : rgba(0, 0, 0, 0.3) .1rem solid;
	background-color : rgb(226, 183, 49);
	}

.footer
{
	display: flex;
	background-color: black;
	color: white;
	position: relative;
	width: 100%;
	height: 50vh;
	flex-direction: row;
	}

.left-side
{
	display: flex;
	justify-content:center;
	width: 40%;
	margin-top: auto;
	margin-bottom: auto;
	}

.footer_image
{
	width: 70%;
	}

.right-side
{
	
	display: inline-flex;
	justify-content: left;
	text-align: left;
	width: 100%;
	}
.column
{
	
	width: 100%;
	}
.list
{
	width: 100%;
	}

.list a{
	color: white;
	width: 100%;
	font-size: 1.8rem;
	text-decoration: none;
	text-transform: none;
	}

.info
{
	display: flex;
	justify-content: left;
	margin-top: 20%;
	font-size: 4.6rem;
	}


ul {
	list-style: none;
	padding: 0;
	margin: 0;
	}

.icon-link {
	display: inline-block;
	height: 100%;
	}

.icon {
	vertical-align: middle;
	margin-right: 10px;
	}

.text {
	vertical-align: middle;
	}

@media only screen and (max-width: 900px) {
	.nav__links {
		position: absolute;
		display:inline-list-item; /* Add the display property (e.g., flex, inline-flex, grid, etc.) */
		align-content: center;
		justify-content: center;
		align-items: center;
		text-align: center;
		text-decoration: none;
		/* transform: translateY(50%); */ /* This line is commented out to avoid unintended effects */
		}
	}
@media only screen and (max-width: 600px)
{
	html
	{
		font-family : "Roboto Light", sans-serif;
		font-size   : 25.8%;
		}
	}
